{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<h1><b>{{ movie.title }}</b>, {{ movie.release_year}}</h1>
<hr>

<h5>역대 한국개봉 영화 흥행 <b>{{ movie.rank }}</b>위</h5>
<h5>네티즌평점 | <b>{{ movie.score }}</b>점</h5>
<img src="{{ movie.poster_url }}" alt="{{ movie.title}} 포스터 사진" height=450px width=300px>

<div class="my-3">
    <!--<p>개봉일자 : {{ movie.release_date }} 개봉</p> 모델에 추가해도 될 듯-->
    <h6>누적 관객수 | <b>{{ movie.audience }}</b>명</h6>
    <h6>국가 | <b>{{ movie.nationality }}</b></h6>
    <h6>장르 | <b>{{ movie.genre }}</b></h6>
    <h6><b>감독 | {{ movie.director }}</b></h6>
    <!--<h6><b>배우 | {{ movie.actors }}</b></h6>-->
    <h6>상영시간 | <b>{{ movie.running_time }}</b></h6>
    <h6>상영등급 | <b>{{ movie.grade }}</b></h6>
    <h6>배급사 | <b>{{ movie.distributor }}</b></h6>
    <hr>
    <h6><b>줄거리</b></h6>
    <p>{{ movie.story }}</p>
</div>
<hr>
{% if user.is_authenticated %}
<!--댓글 작성하면서 평점(10점만점, 별 5개만점) 받아보자-->
    <form action="{% url 'movies:comment_create' movie.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input type="submit" value="작성" class="btn btn-primary">
    </form>
{% else %}
<a href="{% url 'accounts:login' %}">댓글을 작성하려면 로그인하세요.</a>
{% endif %}
<hr>
{% for comment in movie.comment_set.all %}
    <p><b>{{ comment.user }}</b> | {{ comment.content }}</p>
    {% if comment.user == request.user %}
        <form action="{% url 'movies:comment_delete' movie.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" value="X"></button>
        </form>
    {% endif %}
{% empty %}
<p>첫번째 댓글을 작성해주세요!</p>
{% endfor %}
{% endblock %}